@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url('./../../../public/fonts/Montserrat-Bold.woff2');
}

@font-face {
    font-family: Cambay;
    font-weight: 700;
    src: url('./../../../public/fonts/Cambay-Bold.woff2');
}

@font-face {
    font-family: Cambay;
    font-weight: 400;
    src: url('./../../../public/fonts/Cambay-Regular.woff2');
}
